body {
  font-family: "Google Sans", sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

textarea {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Google Sans", sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  /* padding: 1rem; */
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--border);
  border-radius: 8px;
}

.nav-link {
  margin-left: 1rem;
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
  padding: 1rem;
  border-radius: 8px;
  transition: color 0.1s;
}

.nav-link:hover {
  color: var(--accent);
  border-radius: 4px;
  border-radius: 8px;
}

.student-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.student-header {
  text-align: center;
  margin-bottom: 2rem;
}

.student-title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.student-subtitle {
  font-size: 1.2rem;
  color: var(--text-secondary);
}
