.question-list-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 1px solid #ddd;
}

.question-list-header {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.question-list-title {
    margin: 0;
    font-size: 24px;
}

.question-list {
    overflow-y: auto;
    padding: 10px;
}
