.question-list-item {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border);
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-list-item.selected {
    background-color: var(--bg-primary);
}

.item-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.item-student-name {
    color: var(--text-primary);
    font-weight: bold;
}

.status-badge {
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 0.8em;
    color: var(--text-primary);
}

.status-badge.status-new {
    background-color: var(--primary); /* blue */
}

.status-badge.status-in-progress {
    background-color: #f39c12; /* orange */
}

.status-badge.status-complete {
    background-color: #2ecc71; /* green */
}

.status-badge.status-default {
    background-color: #95a5a6; /* grey */
}
